<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-styles/shadow.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/app-route/app-route.html">


<link rel="import" href="redux-store.html">

<dom-module id="patient-form">
  <template>
    <style>
      :host {
        display: block;

        padding: 10px 20px;
      }

      :host {
        @apply --layout;
        @apply --layout-vertical;
        margin: 20px;
      }

      paper-button {
        margin-top: 10px;
        max-width: 65px;

      }
    </style>
    <app-route route="{{route}}" pattern="/:page" data="{{routeData}}"></app-route>

    <paper-input id="firstName" aways-float-label placeholder="First name"></paper-input>
    <paper-input id="lastName" aways-float-label placeholder="Last name"></paper-input>
    <paper-input id="insuranceName" aways-float-label placeholder="Insurance"></paper-input>
    <paper-input id="insuranceId" aways-float-label placeholder="Insurance Id"></paper-input>
    <paper-input id="email" aways-float-label placeholder="Email"></paper-input>
    <paper-input id="phone" aways-float-label placeholder="Phone #"></paper-input>
    <paper-input id="regComment" aways-float-label placeholder="Registration Comment"></paper-input>
    <paper-button on-click="_addPatient" raised>Add</paper-button>
    <div>Current Patients: [[patientCount]]</div>
  </template>

  <script>
    // class PatientForm extends Polymer.Element {
    class PatientForm extends ReduxMixin(Polymer.Element) {
      static get is() {
        return 'patient-form';
      }

      connectedCallback() {
        super.connectedCallback();
        const state = this.getState();
        console.log(state);
      }

      static get properties() {
        return {
          rootPath: String,
          patients: {
            type: Array,
            statePath: 'patients',
          },

          patientCount: {
            type: Number,
            computed: '_computePatientCount(patients)'
          },

        }
      }

      _computePatientCount(patients) {
        return patients.length;
      }

      //define redux action
      static get actions() {
        return {
          add(id, firstName, lastName, insuranceName, insuranceId, email, phone, regComment, process) {
            return {
              type: 'ADD_PATIENT',
              patient: { id, firstName, lastName, insuranceName, insuranceId, email, phone, regComment, process }
            }
          }
        };
      }

      _addPatient() {
        const first = this.$.firstName,
          last = this.$.lastName;
        if (first.value || last.value) {
          this.dispatch('add',
            this.patientCount + 1,
            first.value,
            last.value,
            this.$.insuranceName.value,
            this.$.insuranceId.value,
            this.$.email.value,
            this.$.phone.value,
            this.$.regComment.value,
            "Incoming");
          //clear fields
          first.value = null;
          last.value = null;
        }

        this.set('route.path', '../patient-list/');

      }
    }

    window.customElements.define(PatientForm.is, PatientForm);
  </script>
</dom-module>