<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-styles/shadow.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/paper-styles/color.html">
<link rel="import" href="../bower_components/paper-styles/typography.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">


<link rel="import" href="redux-store.html">

<dom-module id="patient-detail">
  <template>
    <style>
      :host {
        display: block;

        padding: 10px 20px;
      }

      :host {
        @apply --layout;
        @apply --layout-vertical;
        margin: 20px;
      }

      .rate-image {
        /* position: absolute; */
        top: 0;
        right: 0;
        bottom: 0;
        width: 100px;
        background: url('./assets/female.jpeg');
        background-size: contain;
      }

      .rate-header {
        @apply --paper-font-headline;
      }

      .rate-name {
        color: var(--paper-grey-600);
        margin: 10px 0;
      }

      .card-container {
        max-width: 500px;
      }

      .rate {
        width: 500px;
      }

      paper-icon-button.rate-icon {
        --iron-icon-fill-color: white;
        --iron-icon-stroke-color: var(--paper-grey-600);
      }
    </style>
    <app-route route="{{route}}" pattern="/:id" data="{{routeData}}"></app-route>

    <!-- <div>Patient detail [[routeData.id]]</div>
    <div>Current Patients: [[patientCount]]</div> -->

    <div class="card-container">
      <paper-card class="rate">
        <!-- <div class="rate-image"></div> -->

        <div class="card-content">
          <div class="rate-header">[[patient.firstName]] [[patient.lastName]] ([[patient.id]])</div>
          <div class="rate-name">[[patient.insuranceName]]</div>
          <div><strong>Insurance Id</strong> {{patient.insuranceId}}</div>
          <div><strong>Email</strong> {{patient.email}}</div>
          <div><strong>Phone</strong> {{patient.phone}}</div>
          <div><strong>Registration Notes</strong> {{patient.regComment}}</div>
        </div>
        <div class="card-actions">
          <paper-button>CHECK-IN</paper-button>
          <paper-button>UPDATE</paper-button>
          <paper-button on-click="_test">GO TO</paper-button>
        </div>
      </paper-card>
    </div>
    <!-- <paper-button on-click="_test" raised>Test Navigating to patient id: 6</paper-button> -->

  </template>

  <script>
    class PatientDetail extends ReduxMixin(Polymer.Element) {
      static get is() {
        return 'patient-detail';
      }

      connectedCallback() {
        super.connectedCallback();
      }

      _test(e) {
        e.preventDefault();
        console.log("Changing to patient 6");
        this.set('routeData.id', '6');
      }

      static get properties() {
        return {
          rootPath: String,
          patients: {
            type: Array,
            statePath: 'patients',
          },

          patientCount: {
            type: Number,
            computed: '_computePatientCount(patients)'
          },

          patient: Object

        }
      }

      static get observers() {
        return [
          '_patientIdChanged(routeData.id, patients)'
        ]
      }

      _patientIdChanged(id) {
        if (this.patients 
            && (!this.patient || this.patient.id != id))   {
          console.log("Retrieving patient id: " + id);
          var patient = this.patients.find(function(patient) {
            if (patient.id == id) {
              return patient;
            }
          }.bind(this));

          if (patient) {
            console.log("Patient " + id + " has been found. Loading... " + patient.firstName + " " + patient.lastName);
            this.patient = patient;
          } else {
            console.log("Cannot find patient " + id);
          }
    
        }
      }

      _computePatientCount(patients) {
        return patients.length;
      }

    }

    window.customElements.define(PatientDetail.is, PatientDetail);
  </script>
</dom-module>