<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-styles/shadow.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/app-route/app-route.html">

<link rel="import" href="../bower_components/vaadin-material-theme/vaadin-grid.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid-selection-column.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid-sorter.html">



<link rel="import" href="./redux-store.html">

<dom-module id="patient-list">
  <template>
    <style>
      :host {
        display: block;
        padding: 10px 20px;
      }

      :host {
        @apply --layout;
        @apply --layout-vertical;
        margin: 20px;
      }

      .grid {
        @apply --layout-flex;
      }
    </style>
    <app-route route="{{route}}" pattern="/:page" data="{{routeData}}" tail="{{subroute}}"></app-route>

    <div>
      <vaadin-grid size="5" items="[[patients]]" column-reordering-allowed multi-sort active-item="{{_activeRow}}">
        <vaadin-grid-selection-column frozen> </vaadin-grid-selection-column>

        <vaadin-grid-column width="50px" flex-grow="0" frozen>
          <template class="header">
            <vaadin-grid-sorter path="id">Id</vaadin-grid-sorter>
          </template>
          <template>[[item.id]]</template>
        </vaadin-grid-column>

        <vaadin-grid-column resizable>
          <template class="header">
            <vaadin-grid-sorter path="firstName">First Name</vaadin-grid-sorter>
          </template>
          <template>[[item.firstName]]</template>
        </vaadin-grid-column>

        <vaadin-grid-column resizable>
          <template class="header">
            <vaadin-grid-sorter path="lastName">Last Name</vaadin-grid-sorter>
          </template>
          <template>[[item.lastName]]</template>
        </vaadin-grid-column>

        <vaadin-grid-column resizable>
          <template class="header">
            <vaadin-grid-sorter path="insuranceName">Insurance</vaadin-grid-sorter>
          </template>
          <template>[[item.insuranceName]]</template>
        </vaadin-grid-column>

        <vaadin-grid-column resizable>
          <template class="header">
            <vaadin-grid-sorter path="insuranceId">Insurance Id</vaadin-grid-sorter>
          </template>
          <template>[[item.insuranceId]]</template>
        </vaadin-grid-column>

        <vaadin-grid-column resizable>
          <template class="header">
            <vaadin-grid-sorter path="email">Email</vaadin-grid-sorter>
          </template>
          <template>[[item.email]]</template>
        </vaadin-grid-column>

        <vaadin-grid-column resizable>
          <template class="header">
            <vaadin-grid-sorter path="phone">Phone</vaadin-grid-sorter>
          </template>
          <template>[[item.phone]]</template>
        </vaadin-grid-column>

        <vaadin-grid-column flex-grow="2" resizable>
          <template class="header">Comment</template>
          <template>[[item.regComment]]</template>
        </vaadin-grid-column>
      </vaadin-grid>
    </div>

  </template>
  <script>
    class PatientList extends ReduxMixin(Polymer.Element) { //1) extends redux mixin
      static get is() {
        return 'patient-list';
      }

      static get observers() {
        return ['_patientsChanged(patients.*)'];
      }

      _patientsChanged(patients) {
        console.log("front-desk", patients)
      }

      static get properties() {
        return {
          rootPath: String,
          patients: { //define the statePath
            type: Array,
            statePath: 'patients'
          },
          _activeRow: {
            observer: '_activeItemChanged'
          }
        }
      }

      _activeItemChanged(row) {
        if (row) {
          console.log("Navigating to patient detail page... " + row.id);
          this.set('route.path', '../patient-detail/'+row.id);
        }
      }

    }

    window.customElements.define(PatientList.is, PatientList);
  </script>
</dom-module>