<link rel="import" href="../bower_components/polymer-redux/polymer-redux.html">
<script src="../node_modules/redux/dist/redux.js"></script>

<script>

  const initialState = {
    patients: [
      {id: 1, firstName: 'George', lastName: 'Washington', insuranceName: 'UnitedHealthCare', insuranceId: '12345', email:'gw@email.com', phone:'702-123-4567', regComment:'blah blah blah', process: 'Incoming'},
      {id: 2, firstName: 'John', lastName: 'Adams', insuranceName: 'BlueCross', insuranceId: '123456', email:'ja@email.com', phone:'702-123-4568', regComment:'blah2 blah blah', process: 'Incoming'},
      {id: 3, firstName: 'Thomas', lastName: 'Jefferson', insuranceName: 'Anthem', insuranceId: '123457', email:'tj@email.com', phone:'702-123-4569', regComment:'blah3 blah blah', process: 'Incoming'}, 
      {id: 4, firstName: 'James', lastName: 'Madison', insuranceName: 'UnitedHealthCare', insuranceId: '123458', email:'jm@email.com', phone:'702-123-4569', regComment:'blah4 blah blah', process: 'Incoming'}, 
      {id: 5, firstName: 'James', lastName: 'Monroe', insuranceName: 'Anthem', insuranceId: '123459', email:'jm2@email.com', phone:'702-123-4569', regComment:'blah5 blah blah', process: 'Incoming'}, 
      {id: 6, firstName: 'John Quincy', lastName: 'Adams', insuranceName: 'BlueCross', insuranceId: '12346', email:'jqa@email.com', phone:'702-123-4569', regComment:'blah6 blah blah', process: 'Incoming'}, 
      {id: 7, firstName: 'Andrew', lastName: 'Jackson', insuranceName: 'Anthem', insuranceId: '12347', email:'aj@email.com', phone:'702-123-4569', regComment:'blah7 blah blah', process: 'Incoming'}, 
      {id: 8, firstName: 'Martin Van', lastName: 'Buren', insuranceName: 'Anthem', insuranceId: '12387', email:'mvb@email.com', phone:'702-123-4569', regComment:'blah8 blah blah', process: 'Incoming'}, 
    ],
  };



  const reducer = (state, action)=>{
    if (!state) return initialState;

    switch (action.type){
      case 'ADD_PATIENT':
        const addedPatients = state.patients.slice(0);
        addedPatients.push(action.patient);
        return Object.assign({}, state, {patients: addedPatients});
        break;
      case 'MODIFY_PATIENT':
          //find the index of the array that want to modify, then change the modifyPatients array to the patient from the action
          const modifyPatients = state.patients.slice(0);
          const index = modifyPatients.findIndex(p =>{
            return p.id == action.patient.id;
          });  
          modifyPatients[index] = action.patient;
          console.log(modifyPatients);
          return Object.assign({}, state, {patients: modifyPatients});
          break;
    }
  }
  //dispatcher and reducer live inside a store(concept)
  // const store = Redux.createStore(reducer); // create Redux store
  const store = Redux.createStore(reducer, window.__REDUX_DEVTOOLS_EXTENSION__ && window.__REDUX_DEVTOOLS_EXTENSION__()); // for redux plugin
  // in the api, the PolymerRedux is a function that return ReduxMixin() function that accept superClass
  //create polymerRedux mixin
  const ReduxMixin = PolymerRedux(store);
</script>
